<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="base_scan"/>

  <include file="$(find bot1_bringup)/launch/bot1_core.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include>
  <include file="$(find bot1_bringup)/launch/bot1_rplidar.launch">
    <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
  </include>

  <node pkg="bot1_bringup" type="bot1_diagnostics" name="bot1_diagnostics" output="screen"/>
</launch>
